<h1 class="text-center">Listing All Categories</h1>
<div class="container">
    <%= will_paginate %>
    <% @categories.each do |category| %>
    <div class="row justify-content-center">
        <ul class="list-group w-50">
            <li class="list-group-item">
                <%= link_to "#{category.name}", category_path(category) %>
                <span class="badge badge-primary"> <%= pluralize(category.articles.count, "article") %> <span>
            </li>
        </ul>
    </div>
    <% end %>
    <%= will_paginate %>
</div>